<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title">Frequently Asked Questions</h2>
          </div>
          <div class="card-body p-0">
            <ul class="faq-list">
              <li>How do I create a new diaper drive?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Diaper Drives' from the menu</li>
                <li>Click on 'New Diaper Drive'</li>
                <li>Complete the form with your name and the start and end dates of the drive and whether or not the drive is virtual</li>
                <li>Select 'Create Diaper Drive'</li>
                <li>You will be redirected to a list of 'All Diaper Drives' and can filter from there</li>
              </ul>
              <li>How do I create a new donation or purchase?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Donations'or 'Purchases' from the menu</li>
                <li>Click on 'New Donation' or 'New Purchase' from the menu</li>
                <li>You may either enter each item manually by type or by barcode, or you may scan an item's barcode if your phone or computer is equipped with a camera</li>
                <li>Select 'Add another item' to continue adding items to the list</li>
                <li>Selecting 'Remove' will delete the item above the 'Remove' button</li>
                <li>Select 'Save'</li>
                <li>You will be redirected to a list of 'All Donations' or 'All Purchases' and can filter from there</li>
              </ul> <li>How do I create a new distribution?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Distributions' from the menu</li>
                <li>Click on 'New Distribution' from the 'Distributions' page</li>
                <li>You may either enter each item manually by type or by barcode, or you may scan an item's barcode if your phone or computer is equipped with a camera</li>
                <li>Select 'Add another item' to continue adding items to the list</li>
                <li>Selecting 'Remove' will delete the item above the 'Remove' button</li>
                <li>Select 'Save'</li>
                <li>You will be redirected to your most recent Distribution and can mark the 'Distribution Complete' or 'Make Correction' or 'Print'</li>
                <li>If the Distribution is not marked as complete, the state will be listed as 'Scheduled'</li>
                <li>To change the state from 'Scheduled' to 'Completed', select 'View' under the 'Actions' column, followed by 'Distribution Complete'</li>
              </ul>
              <li>How do I view the total number of products I've requested?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Requests' from the menu</li>
                <li>Add any details for filtering results and select 'Filter'</li>
                <li>If no filters are necessary, select 'Clear Filters'</li>
                <li>To see a list of all product totals, select 'Calculate Product Totals'</li>
                <li>To view these totals in a spreadsheet, select 'Export to CSV'</li>
              </ul>
              <li>How do I view my distrutbution calendar?</li>
                <ul class="faq-list">
                <li>Select the calendar icon from the page header, OR</li>
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Pick Ups & Deliveries' from the menu</li>
                </ul>
              <li>How do I add Partner Agencies?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Partner Agencies' from the menu</li>
                <li>To add multiple partners at once, select 'Import Partners' and follow the instructions</li>
                <li>To add a single partner, select 'New Partner Agency', complete the form, and select 'Add Partner Agency'</li>
                <li>Send an invitation to the new agency by selecting 'Invite' under the Action column</li>
                <li>To approve a partner, select 'Review Application' from the Action column. If the partner has requested approval, you can select 'Approve Partner'</li>
                </ul>
              <li>How do I edit a Partner Agency?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Partner Agencies' from the menu</li>
                <li>If a partner has not been approved, select 'Review Application' from the Action column, followed by 'Edit Information'</li>
                </ul>
              <li>How do I view or edit my Inventory Items, Kits, Barcode Items, Storage Locations, Inventory Adjustments, or Transfers?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Inventory' from the menu, followed by the topic you'd like to view</li>
                </ul>
              <li>How do I view or edit my Donation Sites, Diaper Drive Participants, Manufacturers, or Vendors?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Reporting & Auditing' from the menu, followed by 'Inventory Audit'</li>
                </ul>
              <li>How do I view or create Audits?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Community' from the menu, followed by the topic you'd like to view</li>
                </ul>
              <li>How do I edit my organization, including adding logos or modifying admin users?</li>
                <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'My Organization' from the menu</li>
                <li>To deactivate or make a user an admin, select an action from the 'Actions' menu in the users table</li>
                <li>To invite a new user, select 'Invite User to this Organization'</li>
                <li>To edit default email text or add a logo, select 'Edit'</li>
                </ul>
              <li>Have suggestions to help improve the app or other questions about the app? Please <a href="https://human-essential.slack.com/archives/CG1NL2MRC"><u>reach out on Slack.</u></a></li>
              <li>Not a member of the Human Essentials Slack group? <a href="https://join.slack.com/t/human-essential/shared_invite/zt-bfa8tymd-d8Ks3Mq000COcRe~nfs~zg"><u>Request a login.</u></a></li>
              <li>Still need help? Submit a support ticket <u><%= link_to 'here', support_ticket_form_url, target: '_blank' %></u> and we will do our best to follow up with you via email.</li>
            </ul>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
