<div class="card mb-4">
  <h5 class="card-header bg-info">Request Essentials</h5>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-4">
          <h2><%= link_to new_partners_request_path, class: 'btn btn-primary' do %>
              <i class="fa fa-shopping-basket"></i> Create New Bulk Essentials Request
              <% end %>
              </h2>
          <h6>Use this type of request when you want to specify the number of diapers, period supplies, and
            other essentials. Example - 1000 Size 1 Diapers, 500 Tampons, etc.</h6>
        </div>
        <div class="col-4">
          <h2><%= link_to '', class: 'btn btn-primary' do %>
              <i class="fa fa-users"></i> Create New Family Essentials Request
            <% end %>
          </h2>
          <h6>Use this type of request when you you are using the children and family functionality and are
            identifying the specific children you are requesting for.</h6>
        </div>
        <div class="col-4">
          <h2><%= link_to '', class: 'btn btn-primary' do %>
              <i class="fa fa-user"></i> Create New Individuals Essentials Request
            <% end %>
          </h2>
          <h6>Use this type of request when you want to just request by the number of individuals in a
            specific category. Example - 10 individuals for Size 1 diapers, 5 individuals need tampons,
            etc.</h6>
        </div>
      </div>
    </div>
  </div>
</div>
