<section class="container mx-auto my-5">
  <h2 class="font-weight-bold">Make a request</h2>

  <div class="d-flex">

    <% if current_partner.profile.enable_quantity_based_requests? %>
      <article class="col d-flex flex-column justify-content-between p-4 mr-4 border border-primary rounded shadow">
        <div>
          <h3 class='mb-0'>Quantity</h3>
          <p>Specify quantity for each product.</p>
        </div>

        <%= link_to "Create Request",
            new_partners_request_path,
            class: "btn btn-primary w-100 py-2 px-4 rounded",
            "aria-label": "Create a request by quantity" %>
      </article>
    <% end %>

    <% if current_partner.profile.enable_child_based_requests? %>
      <article class="col d-flex flex-column justify-content-between p-4 mr-4 border border-primary rounded shadow">
        <div>
          <h3 class='mb-0'>Child</h3>
          <p>Specify the family and child you are requesting for.</p>
        </div>

        <%= link_to "Create Request",
            new_partners_family_request_path,
            class: "mt-2 btn btn-primary w-100 py-2 px-4 rounded",
            "aria-label": "Create a request for a child or family" %>
      </article>
    <% end %>

    <% if current_partner.profile.enable_individual_requests? %>
      <article class="col d-flex flex-column justify-content-between p-4 border border-primary rounded shadow">
        <div>
          <h3 class='mb-0'># of Individuals</h3>
          <p>Specify the number of individuals for each product.</p>
        </div>

        <%= link_to "Create Request",
            new_partners_individuals_request_path,
            class: "btn btn-primary w-100 py-2 px-4 rounded",
            "aria-label": "Create a request by number of individuals" %>
      </article>
    <% end %>
  </div>
</section>
