<section>
    <h2>Comments:</h2>
    <p><%= @params['comments'] %></p>
    <h2>Quantity:</h2>
    <p><%= @params["item_requests_attributes"]["0"]["quantity"] %></p>
     <%= link_to 'Back', 'javascript:history.back()' %>
    <%= link_to 'Submit', partners_requests_path(request: @partner_request, organization_id: current_partner.organization.id), method: :post, rel: 'nofollow' %>
</section>
