<h1> You've received a request to approve the account for <%= @partner.name %>. </h1>

<br>

<%= link_to 'Review This Organization', partner_url(organization_id: @organization.short_name, id: @partner.id, anchor: "partner-information") %>
