<div class="row">
  <div class="large-8 columns">
    <%= link_to distribution do %>
      <%= distribution.total_quantity %> items shipped to
      <%= distribution.partner_name %>
    <% end %>
  </div>
  <div class="large-4 columns">
    <%= distance_of_time_in_words_to_now distribution.created_at %> ago
  </div>
</div>
