<!-- Button HTML (to Trigger Modal) -->
<a href="#add-initial-inventory-modal" class="btn btn-primary btn-md" data-toggle="modal">
  <% if locations_with_inventory.length == 0 %>
    Add Initial Inventory
  <% else %>
    Add Inventory
  <% end %>
</a>
<!-- Modal HTML -->
<div id="add-initial-inventory-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Add Initial Inventory</h2>
      </div>

      <div class="modal-body">
        <p>
          As a diaper bank, you might already have inventory on hand. These items might have come from previous donations/purchases.
        </p>
        <br/>
        <p>
          If you have multiple sources or want to add inventory to multiple storage locations, you can create multiple donations or purchases while specifying the correct date, source, and location.
        </p>
      </div>

      <div class="modal-footer">
        <%= link_to "Add past donation", new_donation_path, class: "btn btn-primary btn-md" %>
        <%= link_to "Add past purchase", new_purchase_path, class: "btn btn-primary btn-md" %>
      </div>
    </div>
  </div>
</div>
