<% hash = Hash.new(0) %>
<% item_to_itemize.map { |d| d.line_items.map { |i| [i.item.name, i.quantity] } }.flatten(1).map { |a_i| hash[a_i[0]] += a_i[1] } %>

<table class="table table-hover striped">
  <thead>
  <tr>
    <th>&nbsp&nbsp&nbspItem</th>
    <th>Total Distributed</th>
    <th>Total On Hand</th>
  </tr>
  </thead>
  <% hash.sort_by { |name, quantity| -quantity }.each do |dist_item, value| %>
    <tbody>
    <tr>
      <td>&nbsp&nbsp&nbsp<%= dist_item %></td>
      <td><%= value %></td>
      <td class="<%= 'table-danger' if @onhand_quantities[dist_item] < @onhand_minimums[dist_item] %>">
        <%= @onhand_quantities[dist_item] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
