<table class="table table-hover striped">
  <thead>
  <tr>
    <th>&nbsp&nbsp&nbspItem</th>
    <th>Total Distributed</th>
    <th>Total On Hand</th>
  </tr>
  </thead>
  <% # Ordering from highest distributed to lowest %>
  <% @itemized_distribution_data.each do |item_name, value| %>
    <tbody>
      <tr>
        <td>&nbsp&nbsp&nbsp<%= item_name %></td>
        <td><%= value[:distributed] %></td>
        <td class="<%= 'table-danger' if value[:below_onhand_minimum] %>">
          <%= value[:current_onhand] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
