<% hash = Hash.new(0) %>
<% distribution.map { |d| d.line_items.map { |i| [i.item.name, i.quantity] } }.flatten(1).map { |a_i| hash[a_i[0]] += a_i[1] } %>
<table class="table table-hover striped">
  <thead>
  <tr>
    <th>&nbsp&nbsp&nbspItem</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <% hash.sort.each do |dist_item, value| %>
    <tbody>
    <tr>
      <td>&nbsp&nbsp&nbsp<%= dist_item %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
  </tbody>
</table>