<table class="table table-hover striped">
  <thead>
  <tr>
    <th>&nbsp&nbsp&nbspItem</th>
    <th>Total Donated</th>
    <th>Total On Hand</th>
  </tr>
  </thead>
  <% # Ordering from highest distributed to lowest %>
  <% (local_assigns[:itemized_breakdown] || []).each do |item| %>
    <tbody>
      <tr>
        <td>&nbsp&nbsp&nbsp<%= item[:name] %></td>
        <td><%= item[:donated] %></td>
        <td><%= item[:current_onhand] || "Unknown" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
