<div class="row manufacturer">
  <div class="pull-left">
    <%= link_to manufacturer do %>
      <%= manufacturer.name %> (<%= number_with_delimiter(manufacturer.volume) %>)
    <% end %>
  </div>
</div>
