    <%= form.input :name, label: "Name", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-tag"></i></span>
      <%= form.input_field :name, class: "form-control" %>
    <% end %>

    <%= form.input :category, label: "Category", wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
      <%= form.input_field :category, class: "form-control" %>
    <% end %>

  