<h1><%= @inventory.name %></h1>
<address><%= @inventory.address %></address>

<table id="inventory">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "inventory_item_row", collection: @inventory.inventory_items %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total</td>
      <td><%= @inventory.size %></td>
    </tr>
  </tfoot>
</table>
