<% content_for :title, "#{current_organization.name} - Agencies - Dropoff Locations - Edit" %>

<h1 class="medium-offset-3 medium-6">Dropoff location at <%= @dropoff_location.name %></h1>

<%= render partial: "form", object: @dropoff_location %>