<h1>Dropoff Locations</h1>

<table id="dropoff_locations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>&nbsp;</th>
  </thead>

  <tbody>
    <%= render partial: "dropoff_location_row", collection: @dropoff_locations %>
  </tbody>
</table>
