<% content_for :title, "#{current_organization.name} - Agencies - Dropoff Locations - New" %>

<h1 class="medium-offset-3 medium-6">Create a new Dropoff location</h1>

<%= render partial: "form", object: @dropoff_location %>
