<% content_for :title, "#{current_organization.name} - Agencies - Dropoff Locations - #{@dropoff_location.name}" %>

<h1><%= @dropoff_location.name %></h1>

<address><%= @dropoff_location.address %></address>
