<% content_for :title, "#{current_organization.name} - Inventory - Barcode Items - Edit" %>

<h1>Barcode for <%= @barcode_item.quantity %> of <%= @barcode_item.item.name %></h1>

<%= render partial: "form", object: @barcode_item %>