<% content_for :title, "#{current_organization.name} - Inventory - Barcode Items - New" %>

<h1 class="medium-offset-3 medium-6">New Barcode Item</h1>

<%= render partial: "form", object: @barcode_item %>