<div class="app-title">
  <div>
    <h1><i class="fa fa-new"></i>New Child</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-child"></i></li>
    <li class="breadcrumb-item"><a href="#">New Child</a></li>
  </ul>
</div>

<%= render 'form', child: child %>

<%= link_to 'Back', children_path %>
