<%= render(
  "shared/filtered_card",
  id: "purchases",
  gradient: "secondary",
  title: "Itemized Donations",
  subtitle: @selected_date_range,
  type: :table,
  filter_url: reports_itemized_donations_path
) do %>

<table class="table table-hover striped text-left">
  <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;Item</th>
      <th class="text-right">Total Donated</th>
      <th class="text-right">Total On Hand</th>
    </tr>
  </thead>

  <% @itemized_donation_data.each do |item| %>
    <tbody>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;<%= item[:name] %></td>
        <td class="text-right"><%= item[:donated] %></td>
        <td class="text-right"><%= item[:current_onhand] || "Unknown" %></td>
      </tr>
    <% end %>
    </tbody>
</table>

<% end %>
