<section class="container mx-auto py-8">
  <h2 class="font-bold">Our Impact</h2>

  <div class="flex">
    <article class="flex-1 p-4 mr-4 bg-white rounded-md shadow-xl">
      <span class="font-thin text-green-400 text-7xl">
        <%= @families.count %>
      </span>
      <h3>Families served</h3>
      <p>Year-to-date total</p>
    </article>

    <article class="flex-1 p-4 mr-4 bg-white rounded-md shadow-xl">
      <span class="font-thin text-green-400 text-7xl">
        <%= @children.count %>
      </span>
      <h3>Children served</h3>
      <p>Year-to-date total</p>
    </article>

    <article class="flex-1 p-4 bg-white rounded-md shadow-xl flex">
      <div class="border-r-2 border-green-400 flex-2">
        <span class="font-thin text-green-400 text-7xl">
          <%= @families.pluck(:guardian_zip_code).uniq.count %>
        </span>
        <h3 class="mr-4">Areas served</h3>
      </div>
      <div class="ml-4 flex-1">
        <%= @families.pluck(:guardian_zip_code).uniq.join(", ") %>
      </div>
    </article>
  </div>
</section>
