<section class="container mx-auto py-5">
  <h2 class="font-weight-bold">Our Impact</h2>

  <div class="d-flex">
    <article class="col p-4 mr-4 bg-white rounded-md shadow-xl">
      <h1 class="font-weight-thin text-success my-0">
        <%= @families.count %>
      </h1>
      <h3 class='my-0'>Families served</h3>
      <p>Year-to-date total</p>
    </article>

    <article class="col p-4 mr-4 bg-white rounded-md shadow-xl">
      <h1 class="font-weight-thin text-success my-0">
        <%= @children.count %>
      </span>
      <h3 class='my-0'>Children served</h3>
      <p>Year-to-date total</p>
    </article>

    <article class="col d-flex p-4 bg-white rounded-md shadow-xl flex">
      <div class="border-right border-success" style='border-width: 12px'>
        <h1 class="font-weight-thin text-success my-0">
          <%= @families.pluck(:guardian_zip_code).uniq.count %>
        </span>
        <h3 class="mr-4">Areas served</h3>
      </div>
      <div class="col ml-4 flex-1">
        <%= @families.pluck(:guardian_zip_code).uniq.join(", ") %>
      </div>
    </article>
  </div>
</section>
