<div class="card mb-4">
  <h5 class="card-header bg-info">Organization Details&nbsp;&nbsp;</span></h5>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-6">
          <h2>Name</h2>
          <h3 class="display-4 dashboard"><%= @partner.name %></h3>
        </div>
        <div class="col-6">
          <h2>Agency Type</h2>
          <h3 class="display-4 dashboard"><%= @partner.agency_type %></h3>

          <% if @partner.agency_type == "Other" %>
            <h2>Other Agency Type</h2>
            <h3 class="display-4 dashboard"><%= @partner.other_agency_type %></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
