<% content_for :title, "Families - #{current_partner_user.name}" %>

<header class="container mx-auto mb-8">
  <h1 class="block font-bold mb-1">Dashboard</h1>
  <p class="block mt-1"><%= current_partner_user.name %></p>
</header>

<main>
  <%= render partial: '/partners/requests/request_options_card' if @partner.verified? %>

  <section class="container mx-auto my-8">
    <%= render partial: "/partners/requests/history" %>
  </section>

  <section class="container mx-auto my-8">
    <%= render partial: "family_details" %>
  </section>
</main>
