<section class="content-header">
<% content_for :title, "Admin - Organizations" %>
<h1>
All Diaperbase Organizations
  <small></small>
</h1>
<ol class="breadcrumb">
  <li><%= link_to(dashboard_path) do %>
    <i class="fa fa-dashboard"></i> Home
  <% end %>
  </li>
  <li><a href="#">Administration</a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">
<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">All Partner Agencies</h3>
    <span class="pull-right">
    <%= link_to "Add New Organization", new_admin_path(organization_id: current_user.organization.id), class: "btn btn-success btn-xs"  %> 
    <%= link_to "Return to My Site", dashboard_path, class: "btn btn-warning btn-xs"  %></p>
    </span>
    
  </div>
  <div class="box-body">

<div class="row">
<div class="col-xs-12">
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>  
          <tr>
            <th>Organization</th>
            <th>Contact E-mail</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <%= render partial: "organization_row", collection: @organizations %>
        </tbody>
      </table>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
</div>
</section>




