<% content_for :title, "Organizations - Partners" %>

<h1>All Diaperbase Organizations</h1>

<table id="Organizations">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Contact E-mail</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "organization_row", collection: @organizations %>
  </tbody>
</table>
<p><%= link_to "Add New Organization", new_admin_path, class: 'button success' %> 
<%= link_to "Return to My Site", dashboard_path, class: 'button warning' %></p>

