<div class="relative flex">

  <!-- Content -->
  <div class="w-full md:w-1/2">

    <div class="min-h-screen h-full flex flex-col after:flex-1">

      <div class="flex-1">
        <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
          <%= render(LogoComponent.new) %>
        </div>
      </div>

      <div class="px-4 py-8">
        <div class="max-w-md mx-auto">
          <%= content %>
        </div>
      </div>
    </div>
  </div>

  <!-- Image -->
  <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
    <%= image_tag @side_image_path, class: "object-cover object-center w-full h-full", width: 760, height: 1024 %>
    <%= image_tag 'auth-decoration.png', class: "absolute top-1/4 left-0 transform -translate-x-1/2 ml-8 hidden lg:block", width:"218", height:"224", alt: "Authentication decoration" %>
  </div>

</div>
