<p>Here are some Items that we need change based on Human Essentials</p>
<ul style="list-style-type:none">
<% if @distribution_changes[:updates].any? %>
    <li>Items Updated</li>
    <ol style="list-style-type:none">
        <% @distribution_changes[:updates].each do |item| %>
        <li>
            <p><%= "#{item[:name]} from #{item[:old_quantity]} to #{item[:new_quantity]}" %></p>
        </li>
        <% end %>
    </ol>
    </li>
<% end %>
<% if @distribution_changes[:removed].any? %>
    <li>Items Removed</li>
    <ol style="list-style-type:none">
        <% @distribution_changes[:removed].each do |item| %>
        <li>
            <p><%= item[:name] %></p>
        </li>
        <% end %>
    </ol>
    </li>
<% end %>
</ul>
