<p>
  Hi <%= @partner.name %>,
  <br>
  Please find an attached pdf containing details about your distribution.
</p>
<p>
  You can pick up your distribution on <%= @distribution.issued_at.strftime("%m/%d/%Y") %>.
</p>
