<div class="card card-info card-outline">
  <div class="card-header">
    <h2 class="card-title">Documents</h2>
  </div>
  <div class="card-body p-0">
    <div class="tab-content" id="custom-tabs-three-tabContent">
      <table class="table">
        <thead>
          <tr>
            <th>Filename</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% partner.documents.each do |document| %>
            <tr>
              <td><%= link_to document.filename, rails_blob_path(document, disposition: "attachment") %></td>
              <td><%= delete_button_to attachment_path(document), { size: "md", confirm: "Are you sure you want to permanently remove this document?" } %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.box-body.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
  </div>
</div>
