<%= simple_form_for form do |f| %>

  <%= f.input :name,
    label: "Name",
    error: "You must enter a name" %>

  <%= f.input :email,
    label: "E-mail",
    error: "You must enter a valid e-mail",
    as: :email %>

  <div class="medium-offset-3 medium-6">
    <%= f.button :submit %>
  </div>

<% end %>
