
<form role="form">
  <div class="box-body">
    <%= simple_form_for form, html: { class: 'form-horizontal' } do |f| %>
        <%= f.input :name,
          label: "Name",
          class: "form-control",            
          error: "You must enter a name" %>
        <%= f.input :email,
          label: "E-mail",
          error: "You must enter a valid e-mail",
          class: "form-control",
          as: :email %>
          <%= f.button :submit, class:"btn btn-info"%>
    <% end %>    

  </div>
</form>
  <!-- /.box-body -->
