<div class="card card-info card-outline">
  <div class="card-header">
    <h2 class="card-title"><%= partner.name %></h2>
  </div>
  <div class="card-body p-0">
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <%= edit_button_to edit_partner_path(partner) %>
    <% if partner.deletable? %>
      <%= delete_button_to partner_path(partner), {confirm: confirm_delete_msg(partner.name)} %>
    <% end %>
    <span class="float-right">
    </span>
  </div>
</div>
