<% content_for :title, "#{current_organization.name} - Agencies - Partners - Edit" %>

<h1 class="medium-offset-3 medium-6">Update record for <%= @partner.name %></h1>

<%= render partial: "form", object: @partner %>