<% content_for :title, "#{current_organization.name} - Agencies - Partners" %>

<h1>Partner Agencies</h1>

<table id="partners">
  <thead>
    <tr>
      <th>Partner</th>
      <th>E-mail</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "partner_row", collection: @partners %>
  </tbody>
</table>
