<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Agency Distribution Information</h5>
  <div class="card-body">
    <dl>
      <dt>Distribution Times</dt>
      <dd><%= profile.distribution_times %></dd>

      <dt>New Client Times</dt>
      <dd><%= profile.new_client_times %></dd>

      <dt>More Docs Required</dt>
      <dd><%= profile.more_docs_required %></dd>
    </dl>
  </div>
</div>
