<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Area Served</h5>

  <div class="card-body">
    <table>
      <th class="county-heading">County</th><th class="county-heading percent">% of Clients in county</th>

      <% served_area_col = Partners::ServedArea.where(partner_profile: profile) %>
      <% if served_area_col.any? %>
        <%= render partial: "partners/profiles/show/served_area_row", collection: served_area_col %>
      <% else %>
        <tr><td class="county-name"><%= "No County Specified" %></td><td class="client-share percent">100 %</td></tr>
      <% end %>
    </table>
  </div>
</div>
