<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Pick Up Person</h5>
  <div class="card-body">
    <dl>
      <dt>Name</dt>
      <dd><%= profile.pick_up_name %></dd>

      <dt>Phone</dt>
      <dd><%= profile.pick_up_phone %></dd>

      <dt>Email</dt>
      <dd><%= profile.pick_up_email %></dd>
    </dl>
  </div>
</div>
