<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Media Information</h5>
  <div class="card-body">
    <% if partner.no_social_media_presence %>
      <b>No Social Media Presence</b>
    <% else %>
      <dl>
        <dt>Website</dt>
        <dd><%= partner.website %></dd>

        <dt>Facebook</dt>
        <dd><%= partner.facebook %></dd>

        <dt>Twitter</dt>
        <dd><%= partner.twitter %></dd>

        <dt>Instagram</dt>
        <dd><%= partner.instagram %></dd>
      </dl>
    <% end %>
  </div>
</div>
