<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Media Information</h5>
  <div class="card-body">
    <dl>
      <dt>Website</dt>
      <dd><%= profile.website %></dd>

      <dt>Facebook</dt>
      <dd><%= profile.facebook %></dd>

      <dt>Twitter</dt>
      <dd><%= profile.twitter %></dd>
    </dl>
  </div>
</div>
