<div class="mb-4 card">
  <h5 class="text-white card-header bg-primary">Organizational Capacity</h5>
  <div class="card-body">
    <dl>
      <dt>Client Capacity</dt>
      <dd><%= profile.client_capacity %></dd>

      <dt>Storage Space</dt>
      <dd><%= humanize_boolean_3state(profile.storage_space) %></dd>

      <dt>Storage Space Description</dt>
      <dd><%= profile.describe_storage_space %></dd>
    </dl>
  </div>
</div>
