<div class="mb-4 card">
  <h5 class="text-white card-header bg-primary">Organizational Capacity</h5>
  <div class="card-body">
    <dl>
      <dt>Max Serve</dt>
      <dd><%= partner.max_serve %></dd>

      <dt>Storage Space</dt>
      <dd><%= humanize_boolean(partner.storage_space) %></dd>

      <dt>Storage Space Description</dt>
      <dd><%= partner.describe_storage_space %></dd>
    </dl>
  </div>
</div>
