<div class="mb-4 card">
  <h5 class="text-white card-header bg-primary">Settings</h5>
  <div class="card-body">
    <dl>
      <% if profile.organization.enable_quantity_based_requests? %>
        <dt>Uses Quantity Based Requests</dt>
        <dd><%= humanize_boolean(profile.enable_quantity_based_requests) %></dd>
      <% end %>
      <% if profile.organization.enable_child_based_requests? %>
        <dt>Uses Child Based Requests</dt>
        <dd><%= humanize_boolean(profile.enable_child_based_requests) %></dd>
      <% end %>
      <% if profile.organization.enable_individual_requests? %>
        <dt>Uses Individual Requests</dt>
        <dd><%= humanize_boolean(profile.enable_individual_requests) %></dd>
      <% end %>
    </dl>
  </div>
</div>
