<div class="card mb-4">
  <h5 class="card-header bg-primary text-white">Sources of Funding</h5>
  <div class="card-body">
    <dl>
      <dt>Sources of Funding</dt>
      <dd><%= partner.sources_of_funding %></dd>

      <dt>How do you currently obtain diapers?</dt>
      <dd><%= partner.sources_of_diapers %></dd>

      <dt>Essentials Budget</dt>
      <dd><%= partner.essentials_budget %></dd>

      <dt>Essentials Funding Source</dt>
      <dd><%= partner.essentials_funding_source %></dd>
    </dl>
  </div>
</div>
