<% @partner_questions.each do |partner_question| %>
  <div class="card">
    <a class="d-block w-100" data-bs-toggle="collapse" href="#question<%= partner_question.id %>">
      <div class="card-header">
        <h4 class="card-title w-100">
          <%= partner_question.title %>
        </h4>
      </div>
    </a>
    <div id="question<%= partner_question.id %>" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <%= partner_question.answer %>
      </div>
    </div>
  </div>
<% end %>
