<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->
        <div class="card card-info">
          <div class="card-header">
            <h2 class="card-title">Frequently Asked Questions</h2>
          </div>
          <div class="card-body p-0">
            <ul class="faq-list">
              <li>How do I edit my organization?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Edit My Organization' from the menu</li>
                <li>Complete the form and select either 'Update Information' to save or 'Cancel Update' to cancel</li>
              </ul>
              <li>How do I request new essentials?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Essentials Requests' from the menu</li>
                <li>Select a Bulk, Family, or Individual Essentials Request</li>
                <li>For either a Bulk or Individual Essentials Request, complete the comments with any pertinent information</li>
                <li>For a Family Essentials Request, select all Children to be included in the request</li>
              </ul>
              <li>How do I view, edit, or add new families?</li>
              <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Families' from the menu</li>
                <li>To view all families in a spreadsheet, select 'Export Results To CSV'</li>
                <li>To edit family details, including contact info & income, select 'Edit Family Details'</li>
                <li>To add family members to the family, select 'View Family', followed by either 'Add Child to This Family' or 'Add an Authorized Member to this Family'</li>
                <li>Add details for the new family member and select the create button</li>
              </ul>
              <li>How do I add a child?</li>
              <ul class="faq-list">
                <li>Children must be added from their individual families to prevent accidentally associating the child with the wrong family in a situation where there are many families with similar names</li>
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Families' from the menu</li>
                <li>Select 'View Family', followed by 'Add Child to This Family'</li>
                <li>Add details for the new child and select the create button</li>
              </ul>
              <li>How do I view or edit children?</li>
               <ul class="faq-list">
                <li>Click on the three horizontal bars from the top left corner of your screen to expand the menu</li>
                <li>Select 'Children' from the menu</li>
                <li>To view all children in a spreadsheet, select 'Export Results To CSV'</li>
                <li>To edit child details, including date of birth, select 'Edit Child Details'</li>
              </ul>
              <li>Have suggestions to help improve the app or other questions about the app? Please <a href="https://human-essential.slack.com/archives/CG1NL2MRC"><u>reach out on Slack.</u></a></li>
              <li>Not a member of the Human Essentials Slack group? <a href="https://join.slack.com/t/human-essential/shared_invite/zt-bfa8tymd-d8Ks3Mq000COcRe~nfs~zg"><u>Request a login.</u></a></li>
              <li>Still need help? Submit a support ticket <u><%= link_to 'here', support_ticket_form_url, target: '_blank' %></u> and we will do our best to follow up with you via email.</li>
            </ul>
          </div>
          <!-- /.card-footer-->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>