<div class="text-center p-3">
  <h1>Need Help?</h1>
  <p>
    Please contact your essentials bank, <%= @bank.name %>, if you need further assistance.<br>
    Our email on record for them is: <%= mail_to @bank.email %>
  </p>
</div>
