.help > em {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-style: normal;
}