<p>TBH I don't know what features to put here yet.<p>
<p>I was envisioning some things like:
  <ul>
    <li>Recently added organizations</li>
    <li>Recently added users</li>
    <li>Top 10 Items with the "Other" Canonical Item type</li>
    <li>Donations, Distributions, Requests made this week, in total</li>
  </ul>
and other sorts of things that give an overview of the current state of the app, with links to find out more about those things.</p>