<% content_for :sidebar do %>
  <ul class="vertical menu">
    <li><%= navigation_link_to "Account Settings", edit_user_registration_path %></li>

    <li><%= navigation_link_to "All users", users_path %></li>
    <li><%= navigation_link_to "Add a user", new_user_path %></li>
    <li><%= navigation_link_to "Update organization", edit_organization_path %></li>
  </ul>
<% end %>
