<% content_for :title, "#{current_organization.name} - Diaper Drive Participants - #{@diaper_drive_participant.name} - Edit" %>

<h1 class="medium-offset-3 medium-6">Diaper Drive: <%= @diaper_drive_participant.name %></h1>

<%= render partial: "form", object: @diaper_drive_participant %>