<% content_for :title, "#{current_organization.name} - Diaper Drive Participants - Edit" %>

<h1>Diaper Drive: <%= @diaper_drive_participant.name %></h1>

<%= render partial: "form", object: @diaper_drive_participant %>