<% content_for :title, "#{current_organization.name} - Agencies - Diaper Drive Participants - New" %>

<h1>Create a new Diaper Drive Participant</h1>

<%= render partial: "form", object: @diaper_drive_participant %>
