<div class="row wrapper border-bottom white-bg page-heading">
	<% content_for :title, "New - Diaper Drive Participants - Agencies - #{current_organization.name}" %>
	<div class="col-lg-8">
	  <h2>
	    Diaper Drive Participant
	    <small>for <%= current_organization.name %></small>
	  </h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
	      <%= link_to(dashboard_path) do %>
	        <i class="fa fa-dashboard"></i> Home
	      <% end %>
	    </li>
		  <li class="breadcrumb-item">
		  	<%= link_to "Diaper Drive Participants", (diaper_drive_participants_path) %>
		  </li>
		  <li class="breadcrumb-item active">
	    	New Diaper Drive Participant
	    </li>
		</ol>
	</div>
</div>

<%= render partial: "form", object: @diaper_drive_participant %>
