    <p>Greetings from the Human Essentials Team,</p>

<h3> Click 'Confirm' when you want to continue requesting an account with us </h3>

<%= link_to 'Confirm This Request', confirmation_account_requests_url(token: @account_request.identity_token) %>

<p>
  We're delighted to hear from you and hope you're all staying well!
</p>

<p>
      First, and most importantly, Human Essentials is 100% free! We're supported by the non-profit Code for Good and Microsoft sponsors the servers!
</p>

<p>
  If you'd like to experience the app, please log in to the sandbox/demo sites and test it out using the information below.
</p>

<p>
  <strong> The details below allow you to log into a demo site. All data on the demo site is reset every day at 6 AM EST. </strong>
</p>

<p>
      <a href='https://staging.humanessentials.app/users/sign_in'>Human Essentials</a>
  <br>
  <span>Username: org_admin1@example.com</span>
  <br>
      <span>Password: password!</span>
</p>

<p>
  <a href='https://staging.humanessentials.app/partner_users/sign_in'>PartnerBase</a>
  <br>
  <span>Username: verified@example.com</span>
  <br>
      <span>Password: password!</span>
</p>

<p>
  A couple things to know about the sandbox servers before you start using them:
      The development team uses the servers for testing our new features and upgrades before putting them on the live site to ensure that no bugs get pushed through to the live site, so if something looks different than the (real) humanessentials.app site that is probably why! Please don’t enter any sensitive information into the demo servers, several users have access to the demo servers and it will be visible to all users.
</p>

<p>
    Finally, we made a getting started video with detailed directions on setting up your diaper bank in Human Essentials, check it out
    <a href='https://www.youtube.com/watch?v=fwo3WKMGM_4&feature=youtu.be'>here</a>! Please let us know when you would like to begin using Human Essentials and we will set you up and send you a welcome email.
</p>

    <p>Human Essential Team</p>

