<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <p>Greetings from the Human Essentials Team,</p>

    <h3>Your account request has been rejected.</h3>

    <p>
      Unfortunately, we were unable to process your account request at this time. The reason for this decision is as follows:
    </p>

    <p>
      <%= @account_request.rejection_reason %>
    </p>

    <p>
      If you have any questions, please don't hesitate to reach out to us.
    </p>

    <p>Human Essential Team</p>

  </body>
</html>
