<div class="app-title">
  <div>
    <h1><i class="fa fa-new"></i>Editing Family</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-users"></i></li>
    <li class="breadcrumb-item"><a href="#">Editing Family</a></li>
  </ul>
</div>

<%= render 'form', family: @family %>
