<div class="app-title">
  <div>
    <h1><i class="fa fa-user-plus"></i>&nbsp;&nbsp;New Family</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><a href="<%= dashboard_path %>"><i class="fa fa-home fa-lg"></i></a></li>
    <li class="breadcrumb-item"><a href="<%= families_path %>">All Families</a></li>
    <li class="breadcrumb-item"><a href="#">New Family</a></li>
  </ul>
</div>

<%= render 'form', family: @family %>
