<div class="nested-fields">
  <div class="row">
    <div class="input text optional barcode-item-lookup">
      <div class="box-body">
        <%= render partial: "barcode_items/barcode_item_lookup" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box-body">
      <%= f.input_field :item_id, collection: @items, prompt: "Choose an item" %>
    </div>
    <div class="box-body">
      <%= f.input_field :quantity, placeholder: "Quantity" %>
      <p class="help-text">reduce inventory by</p>
    </div>

      <%= link_to_remove_association "X", f, class: "btn tiny alert float-left" %>
  </div>
</div>
