<h1>Distributions</h1>

<table>
  <thead>
    <tr>
      <th>Partner</th>
      <th>Source Inventory</th>
      <th>Total items</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "distribution_row", collection: @distributions %>
  </tbody>
</table>
