<div class="header-action">
  <%= link_to "New Distribution", new_distribution_path(organization_id: current_organization), class: "button float-right" %>
</div>

<h1>Distributions</h1>

<table id="distributions">
  <thead>
    <tr>
      <th>Partner</th>
      <th>Source Inventory</th>
      <th>Total items</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "distribution_row", collection: @distributions %>
  </tbody>
</table>
