<h1>Create a new distribution</h1>

<%= simple_form_for @distribution, url: new_distribution_path(organization_id: @organization.id) do |f| %>
  <%= render partial: "distribution_form", object: f %>
<% end %>
