<div class="full-height">
  <!-- Content Header (Page header) -->
  <section class="content-header" id="pick-ups-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-7">
          <% content_for :title, "Distribution Schedule - #{current_organization.name}" %>
          <h1>
            Distribution Schedule
            <small>for <%= current_organization.name %></small>
          </h1>
        </div>
        <div class="col-sm-5">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
                <i class="fa fa-dashboard"></i> Home
              <% end %>
            </li>
            <li class="breadcrumb-item"><a href="#"><%= link_to "Distributions", distributions_path %></a></li>
            <li class="breadcrumb-item active"><a href="#">Schedule</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content" id="pick-ups-calendar">
    <div class="container-fluid h-100">
      <div class="row h-100">
          <%= js_button({
                          icon: 'copy',
                          text: 'Copy Calendar URL to clipboard',
                          data: { url: hashed_calendar_path }
                        },
                        {id: 'copy-calendar-button'}) %>
        <!-- left column -->
          <!-- Main content -->
          <div id="calendar" class="fc fc-ltr fc-unthemed" style="">
          </div>
      </div>
    </div>
  </section>
</div>

<script type="module">
  $(() => {
    $('#copy-calendar-button').click((event) => {
      navigator.clipboard.writeText(event.target.dataset.url);
      toastr.info("Copied to clipboard!");
      event.preventDefault();
    })
  })
</script>
