<h1>Distribution Manifest for <%= @distribution.updated_at.strftime('%B %-d %Y') %> Distribution to <%= @distribution.partner.name %></h1>

<fieldset>
<ul>
  <li>Source location: <%= @distribution.storage_location.name %></li>
</ul>
</fieldset>


<section id="line_items">
  <table>
    <thead>
      <th>Quantity</th>
      <th>Item</th>
    </thead>

    <tbody>
      <%= render partial: "distribution_item_row", collection: @line_items %>
    </tbody>
  </table>


</section>
