//Reusable tokens/variables
//namespaced as 'diaper-'.

//Colors
// The number at the end of the color variable names are derived
// from the 'l' lightness number from the color's HSL value.

// neutral
$diaper-color-neutral-10: #141a1d;
$diaper-color-neutral-12: #181f23;
$diaper-color-neutral-14: #1c2529;
$diaper-color-neutral-15: #1e282c;
$diaper-color-neutral-16: #222d32;
$diaper-color-neutral-21: #2c3b41;
$diaper-color-neutral-26: #374850;
$diaper-color-neutral-36: #4b646f;
$diaper-color-neutral-45: #606c84;
$diaper-color-neutral-55: #7a869d;
$diaper-color-neutral-65: #97a0b3;
$diaper-color-neutral-75: #b5bbc8;
$diaper-color-neutral-76: #b8c7ce;
$diaper-color-neutral-85: #d2d6de;
$diaper-color-neutral-90: #e1e3e9;
$diaper-color-neutral-91: #e6e7e8;
$diaper-color-neutral-95: #eff1f7;
$diaper-color-neutral-98: #f9fafc;

// blues
$diaper-color-blue-10: #001a35;
$diaper-color-blue-12: #001f3f;
$diaper-color-blue-41: #00a7d0;
$diaper-color-blue-42: #00acd6;
$diaper-color-blue-47: #00c0ef;
$diaper-color-blue-54: #14d1ff;

$diaper-color-blue-37: #0097bc;

$diaper-color-blue-70: #7eb0e9;

$diaper-color-blue-93: #e8ecf4;
$diaper-color-blue-94: #ecf0f5;

$diaper-color-blue-95: #e6f7ff;



