<% if flash[:trigger_csv_download] %>
  <% csv_url = "#{request.path}.csv#{"?#{request.query_string}" if request.query_string.present?}" %>
  <div data-controller="toast csv-download"
       data-csv-download-url-value="<%= csv_url %>"
       data-toast-message-value="Your CSV export is downloading!"
       class="d-none"></div>
<% end %>
