<div id="container"></div>
<span class='title'><%= @title %></span>
<script>
  $('span.title').hide();
  var title = $('span.title').text();
  chart = Highcharts.chart('container', {
      chart: {
          type: 'column',
          height: 850
      },
      title: {
         text:  title
      },
      subtitle: {
          text: 'Source: humanessentials.app'
      },
      xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Line Items'
          }
      },
      tooltip: {
          style: {
            zIndex: 100
          },
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: <%= raw @series %>
  });
</script>
<button class="clear_all">Unselect All</button>
<button class="select_all">Select All</button>
<script>
  $('.clear_all').click(function () {
    for (i = 0; i < chart.series.length; i++) {
      chart.series[i].hide();
    }
  });
  $('.select_all').click(function(){
    for (i = 0; i < chart.series.length; i++) {
      chart.series[i].show();
    }
  });
</script>