<div data-controller="highchart" data-highchart-config-value="<%= config %>">
  <div data-highchart-target="chart"></div>
  <div>
    <button type="button" class="btn btn-sm btn-secondary" data-action="click->highchart#selectAll">Select All</button>
    <button type="button" class="btn btn-sm btn-info" data-action="click->highchart#deselectAll">Deselect All</button>
  </div>
</div>
