<tr>
  <td><%= link_to inventory_item_row.item.name, item_path(inventory_item_row.item) %></td>
  <td>
    <% if version_date %>
      <%= inventory_item_row.paper_trail.version_at(version_date)&.quantity || "N/A" %>
    <% else %>
      <%= inventory_item_row.quantity %>
    <% end %>
    </td>
</tr>
