<% content_for :title, "#{current_organization.name} - Inventory - Storage Locations - #{@storage_location.name} - Edit" %>

<h1 class="medium-offset-3 medium-6">Update <%= @storage_location.name %></h1>

<%= render partial: "form", object: @storage_location %>
