<% case request_type %>
<% when "quantity" %>
    <span class="badge badge-primary bg-primary">Quantity</span>
<% when "by_individuals" %>
    <span class="badge badge-info bg-info">By Individuals</span>
<% when "child_based" %>
    <span class="badge badge-success bg-success">Child Based</span>
<% end %>
