<section class="content-header">
    <% content_for :title, "Requests - #{current_organization.name}" %>
    <h1>
        Requests
        <small>for <%= current_organization.name %></small>
    </h1>
    <ol class="breadcrumb">
        <li><%= link_to(dashboard_path) do %>
            <i class="fa fa-dashboard"></i> Home
            <% end %>
        </li>
        <li><a href="#">Requests</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border bg-gray">
            <section id="filters">
                <!-- TBA -- style after other #index views -->
            </section><!-- /#filters -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover striped">
                            <thead>
                                <tr>
                                    <th class="date">Date</th>
                                    <th>Requester</th>
                                    <th>Status</th>
                                    <th class="pull-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= render partial: "request_row", collection: @paginated_requests %>
                            </tbody>
                        </table>
                    </div><!-- /.box-body.table-responsive -->
                </div><!-- /.col-xs-12 -->
            </div><!-- /.row -->
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    <%= paginate @paginated_requests %>
</section><!-- /.content -->
