<h1>Distribution Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Partner</th>
      <th>Source Inventory</th>
      <th>Total items</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "ticket_row", collection: @tickets %>
  </tbody>
</table>
