<h1>Ticket Manifest for <%= @ticket.updated_at.strftime('%B %-d %Y') %> Distribution to <%= @ticket.partner.name %></h1>

<fieldset>
<ul>
  <li>Source inventory: <%= @ticket.inventory.name %></li>
</ul>
</fieldset>


<section id="containers">
  <table>
    <thead>
      <th>Quantity</th>
      <th>Item</th>
    </thead>

    <tbody>
      <%= render partial: "ticket_item_row", collection: @containers %>
    </tbody>
  </table>


</section>