<tr>
  <td><%= donation_item_row.item.name %></td>
  <td class="numeric"><%= donation_item_row.quantity %></td>
  <td class="numeric"><%= item_value(donation_item_row.value_per_line_item) %></td>
</tr>
