<div class="nested-fields">
  <div class="row">
    <div class="small-6 medium-offset-3 medium-4 columns">
      <%= f.input_field :item_id, collection: @items, prompt: "Choose an item" %>
    </div>
    <div class="small-4 medium-2 columns">
      <%= f.input_field :quantity, placeholder: "Quantity" %>
    </div>
    <%= link_to_remove_association "X", f, class: "button tiny alert float-left" %>
  </div>
</div>
