<div class="nested-fields">
  <div class="row">
    <div class="small-6 medium-offset-3 medium-4 columns">
      <%= f.input_field :item_id, collection: @items, prompt: "Choose an item" %>
    </div>
    <div class="small-4 medium-2 columns">
      <%= f.input_field :quantity, placeholder: "Quantity", class: "float-left" %>
    </div>
    <div class="tiny float-left" ></div>
  </div>
</div>
