<% content_for :title, "#{current_organization.name} - Donations" %>

<div class="header-action">
  <%= link_to "New Donation", new_donation_path(organization_id: current_organization), class: "button float-right" %>
</div>

<h1>Donations</h1>

<table id="donations">
  <thead>
    <tr>
      <th>Source</th>
      <th>Dropoff Location</th>
      <th>Storage Location</th>
      <th>Quantity of Items</th>
      <th>Variety of Items</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "donation_row", collection: @donations %>
  </tbody>
</table>
