<% content_for :title, "#{current_organization.name} - Donations - New" %>

<h1>Enter New Donation</h1>

<% if @something.nil? %>
  <%= render partial: "donation_form", object: @donation %>
<% else %>
  <%= render partial: "line_items_form", object: @donation %>
<% end %>
