<div id="confirmAuditModal" class="modal fade">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure that the audit is complete ?</h4>
      </div><!-- modal-header -->
      <div class="modal-body">
        <div class="box-body">
          <%= submit_button({ text: "Confirm Audit", icon: "envelope", align: "pull-left" }) %>
        </div><!-- box-body -->
      </div><!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= fa_icon "close" %> Close</button>
      </div><!-- modal-footer -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- addUserModal -->
