<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "New - Audits - Inventory - #{current_organization.name}" %>
        <h1>
          New Inventory Audit
          <small>for <%= current_organization.name %></small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to(dashboard_path) do %>
              <i class="fa fa-dashboard"></i> Home
            <% end %>
          </li>
          <li class="breadcrumb-item"><%= link_to "Inventory Audits", audits_path %></li>
          <li class="breadcrumb-item"><a href="#">New Audit</a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> Note:</h5>
          <p class="box-title">Create an <strong>Audit</strong> recording the inventory present in a
            particular storage location.</p>
            <p class="help">Enter the <em>items</em> with their corresponding <em>quantity</em> that are present in the storage location. You can do a partial audit - if you do not enter a new value, the level in the records will not be changed.</p>
          <p class="help">Click on <em>Save Progress</em> button to save the current progress of audit.</p>
          <p class="help">You can <em>resume</em> the saved audit at a later time again.</p>
          <p class="help">After you <em>Confirm</em> the audit, an administrator must <em>Finalize</em> the audit for it to take effect. We <em>strongly</em> recommend that you do not do any transactions (donations, distributions, etc) before the audit is finalized, as the audit sets the inventory levels.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "audits/form" %>
