<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close btn-close" data-bs-dismiss="modal">&times;</button>
      <h4 class="modal-title" id="mainModalLabel">
        New Vendor
      </h4>
    </div>
    <div class="modal-body">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %> alert-dismissible">
          <a href="#" class="close btn-close" data-bs-dismiss="alert" aria-label="close" style="text-decoration: none;"><%= fa_icon('times') %></a>
          <%= value %>
        </div>
      <% end %>

      <%= render partial: "form", object: @vendor %>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
    </div>
  </div>

</div>
