<section class="content-header">
  <% content_for :title, "Admin - Organizations" %>
  <h1>
    All Diaperbase Organizations
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to(admin_dashboard_path) do %>
        <i class="fa fa-dashboard"></i> Home
      <% end %>
    </li>
    <li><a href="#">All Diaperbase organizations</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-body">
      <div class="text-right">
        <%= new_button_to new_admin_organization_path, { text: "Add New Organization" } %>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover striped">
              <thead>
              <tr>
                <th>Organization</th>
                <th>Contact E-mail</th>
                <th class="date">Added On</th>
                <th class="text-right">Actions</th>
              </tr>
              </thead>
              <tbody>
              <%= render partial: "organization_row", collection: @organizations %>
              </tbody>
            </table>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </div>
</section>
