// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.

$(function() {
  const control_id = "#donation_source";

  const diaper_drive_participant_id = "#donation_diaper_drive_participant_id";
  const manufacturer_id = "#donation_manufacturer_id";

  const donation_site_container_id = "div.donation_donation_site";
  const diaper_drive_participant_container_id = "div.donation_diaper_drive_participant";
  const manufacturer_container_id = "div.donation_manufacturer";

  const diaper_drive_participant_text = "<%= Donation::SOURCES[:diaper_drive] %>";
  const manufacturer_text = "<%= Donation::SOURCES[:manufacturer] %>";
  const donation_site_text = "<%= Donation::SOURCES[:donation_site] %>";

  $(diaper_drive_participant_container_id).hide();
  $(manufacturer_container_id).hide();
  $(donation_site_container_id).hide();

  const create_new_diaper_drive_text = "---Create new diaper drive---";
  const create_new_manufacturer_text = "---Create new Manufacturer---";

  $(diaper_drive_participant_id).append(
    `<option value="">${create_new_diaper_drive_text}</option>`
  );

  $(manufacturer_id).append(
    `<option value="">${create_new_manufacturer_text}</option>`
  );

  $(document).on("change", diaper_drive_participant_id, function(evt) {
    const selection = $(diaper_drive_participant_id + " option")
      .filter(":selected")
      .text();

    if (selection === create_new_diaper_drive_text) {
      $("#new_diaper_drive").click();
    }
  });

  $(document).on("change", manufacturer_id, function(evt) {
    const selection = $(manufacturer_id + " option")
      .filter(":selected")
      .text();

    if (selection === create_new_manufacturer_text) {
      $("#new_manufacturer").click();
    }
  });

  $(document).on("change", control_id, function(evt) {
    const selection = $(control_id + " option")
      .filter(":selected")
      .text();

    if (selection === diaper_drive_participant_text) {
      $(diaper_drive_participant_container_id).show();
      $(donation_site_container_id).hide();
      $(manufacturer_container_id).hide();
    } else if (selection === manufacturer_text) {
      $(manufacturer_container_id).show();
      $(diaper_drive_participant_container_id).hide();
      $(donation_site_container_id).hide();
    } else if (selection === donation_site_text) {
      $(diaper_drive_participant_container_id).hide();
      $(donation_site_container_id).show();
      $(manufacturer_container_id).hide();
    } else {
      $(diaper_drive_participant_container_id).hide();
      $(donation_site_container_id).hide();
      $(manufacturer_container_id).hide();
    }
  });

  $(control_id).change();

  $(document).on(
    "cocoon:after-insert",
    "form#new_donation",
    (e, insertedItem) =>
      insertedItem
        .find("#_barcode-lookup-new_line_items")
        .attr("id", `_barcode-lookup-${$(".nested-fields").size() - 1}`)
  );

  const large_donation_boundary = 100000;
  $(document).on("submit", "form#new_donation", (e, _) =>
    $(".quantity").each(function(_, q) {
      const quantity = q.valueAsNumber;
      if (quantity > large_donation_boundary) {
        confirm(
          `${quantity} items is a large donation! Are you sure you want to submit?`
        );
      }
    })
  );
});
