/*
 * decaffeinate suggestions:
 * DS102: Remove unnecessary code created because of implicit returns
 * Full docs: https://github.com/decaffeinate/decaffeinate/blob/master/docs/suggestions.md
 */
// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/
$(function() {
  const vendor_id = "#purchase_vendor_id";
  const create_new_vendor_text = "---Not Listed---";
  $(vendor_id).
  append(`<option value="">${create_new_vendor_text}</option>`);

  return $(document).on("change", vendor_id, function(evt) {
    const selection = $(vendor_id + " option").
    filter(':selected').text();
    if (selection === create_new_vendor_text) {
      return $("#new_vendor").click();
    }
  });
});
