<div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
  <table class="table table-items-location">
    <thead>
    <tr>
      <th>Name</th>
      <%= render partial: "storage_column", collection: @storages %>
      <th class="numeric">Minimum Quantity</th>
      <th class="numeric">Recommended Quantity</th>
      <th class="numeric">Total Quantity</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "item_row_quantity_and_storages", collection: @items_by_storage_collection_and_quantity, as: :row %>
    </tbody>
  </table>
</div><!-- /.box-body.table-responsive -->

