<div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
  <div class='flex justify-end mb-4'>
    <%= new_button_to new_item_path, {text: "New Item"} %>
  </div>

  <table class="table table-items-location">
    <thead>
    <tr>
      <th>Name</th>
      <%= render partial: "storage_column", collection: @storages %>
      <th class="numeric">Minimum Quantity</th>
      <th class="numeric">Recommended Quantity</th>
      <th class="numeric">Total Quantity</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "item_row_quantity_and_storages", collection: @items_by_storage_collection_and_quantity.values, as: :row_item %>
    </tbody>
  </table>
</div><!-- /.box-body.table-responsive -->
