<div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Base Item</th>
      <th>Fair Market Value (per item)</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: "item_row", collection: @items, as: :item_row %>
    </tbody>
  </table>
</div><!-- /.box-body.table-responsive -->


