<td><%= @row_collection[:item_name] %></td>
<td><%= @row_collection[:item_category] %></td>
<% @storages.each do |storage| %>
  <td><%= @row_collection[storage.id] %></td>
<% end %>
<td><%= @row_collection[:item_quantity] == 0? '': @row_collection[:item_quantity] %></td>
<td>
