<tr>
<td><%= item_row_quantity.name %></td>
<td><%= item_row_quantity.category %></td>
<td><%= item_row_quantity.barcode_count %></td>
<td><%= item_row_quantity.quantity %></td>
<%#= link_to "View", item_path(item_row_quantity), class: "btn btn-info btn-xs" %>    
<%#= link_to "Edit", edit_item_path(item_row_quantity), class: "btn btn-info btn-xs" %> 
<%#= link_to "Delete", item_path(item_row_quantity), method: :delete, class: "btn btn-danger btn-xs" %>
</tr>