<% row_item = row.last %>
<tr>
<td><%= row_item[:item_name] %></td>
<% @storages.each do |storage| %>
  <td><%= row_item[storage.id] || "0" %></td>
<% end %>
<td><%= row_item[:quantity] %></td>
</tr>
