<div id="sectionB" class="tab-pane fade">
  <div class="row">
    <div class="col-xs-12">
      <div class="box-body table-responsive no-padding">
        <table id="tbl_items_location" class="table table-hover striped">
          <thead>
            <tr>
              <th>Name</th>
              <%= render partial: "storage_column", collection: @storages %>
              <th class="numeric">Minimum Quantity</th>
              <th class="numeric">Recommended Quantity</th>
              <th class="numeric">Total Quantity</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "item_row_quantity_and_storages", collection: @items_by_storage_collection_and_quantity, as: :row %>
          </tbody>
        </table>
      </div><!-- /.box-body.table-responsive -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
</div><!-- /#sectionC -->
