<% content_for :title, "#{current_organization.name} - Inventory - Items - #{@item.name} - Edit" %>
<h1 class="medium-offset-3 medium-6"><%= @item.name %></h1>
<%= render partial: "form", object: @item %>