<%= f.fields_for :request_units, defined?(object) ? object : nil do |field| %>
  <tr data-form-input-target="removeContainer">
    <td>
      <%= field.input_field :name, class: "form-control" %>
    </td>
    <td>
      <%= remove_element_button "Remove" , container_selector: '#td-remove'%>
    </td>
  </tr>
  <% end %>

