<div class="app-title">
  <div>
    <h1><i class="fa fa-new"></i>New Authorized Family Member</h1>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-user"></i></li>
    <li class="breadcrumb-item"><a href="#">New Authorized Family Member</a></li>
  </ul>
</div>

<%= render 'form', authorized_family_member: authorized_family_member %>

<%= link_to 'Back', authorized_family_members_path %>
