<div class="header-action">
  <%= link_to "New Transfer", new_transfer_path, class: "button float-right" %>
</div>

<h1>Transfers</h1>

<table id="transfers">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Comment</th>
      <th>Total Moved</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "transfer_row", collection: @transfers %>
  </tbody>
</table>
