<h1>Transfer across inventories</h1>

<%= simple_form_for @transfer do |f| %>

  <%= f.association :from, label: "From storage location", collection: @storage_locations, error: "Which location are you moving inventory from?" %>
  <%= f.association :to, collection: @storage_locations, label: "To storage location", error: "Which location is receiving this?" %>

  <%= f.button :submit %>

<% end %>
