// Website colors
$dark-grey: #262626;
$grey: #3D3C3C;
$light-grey: #EDECEC;
$white: white;
$off-white: #F9F9F9;
$blue: #005e74;
$light-blue: #CEE8F1;
$lighter-blue: #EDFAFF;

$action: #31b0d5;
$error: #c9302c;
$success: #449d44;
$caution: orange;