@charset 'utf-8';

@import 'settings';
@import 'foundation';

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @import 'motion-ui/motion-ui';

// We include everything by default.  To slim your CSS, remove components you don't use.

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
@include foundation-badge;
// @include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
// @include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

// If you'd like to include motion-ui the foundation-rails gem comes prepackaged with it, uncomment the 3 @imports, if you are not using the gem you need to install the motion-ui sass package.
//
// @include motion-ui-transitions;
// @include motion-ui-animations;

// Website colors
$dark-grey: #262626;
$grey: #3D3C3C;
$light-grey: #EDECEC;
$white: white;
$off-white: #F9F9F9;
$blue: #0BA6CC;
$light-blue: #CEE8F1;
$lighter-blue: #EDFAFF;
$error: #DE5347;
$success: #6EB85B;

h1, h2, h3, h4, p, th {
  color:$dark-grey;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

h1 {
  padding-top: 10px;
  font-size: 34px;
  padding-bottom: 15px;
}

h2, h3, h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

p {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 10px;
}

// hr border color
hr {
  border-color: $light-grey;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}
// make the nav sticky
.sticky {
  width: 100%;
}

.top-bar {
  background: $blue;
  color: $white;

  .top-bar-title {
    padding: 0;

    @media only screen and (max-width: #{map-get($breakpoints,medium)}) {
      width: 100%;
    }
    img {
      display: inline-block;
    }
  }

  .menu-hamburger {
    @media only screen and (max-width: #{map-get($breakpoints,medium)}) {
      padding: .4rem;
    }
    float: right;
    .menu-text {
      color: $off-white;
    }
  }

  ul.menu {
    background: $blue;
    border: none;

    li {
      a {
        color: $off-white;
        font-weight: bold;
  
        &.active[disabled] {
          color: lighten($blue, 18%);
          cursor: default;
        }
  
        &:hover {
          color: darken($off-white, 18%);
        }
      }
    }

    .button {
      background-color: $blue;
      color: $white;
      font-weight: 400;
      border: solid;
      border-width: 1px;
      border-color: $white;
      margin-top: 3px;

      &:hover, &:focus {
        color: $blue;
        background-color: $white;
      }
    }
  }

  .dropdown.menu .submenu {
    border: none;
  }

  .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
    border-color: $white transparent transparent;
  }
  
  /* No idea why -- but .menu > li is getting set to display as a table-cell
     so we have to put this override in here so that it displays correctly
     in responsive mode */
  .is-drilldown li {
    display: block;
  }

  .is-drilldown-submenu-parent > a::after,
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a:after {
    border-color: transparent transparent transparent $white;
  }

  .js-drilldown-back > a:before, 
  .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a:after {
    border-color: transparent $white transparent transparent;
  }
}

// table header font
thead th {
  font-weight: 400;
}
//table header background color
thead {
  background-color: $light-blue;
}

// table even numbered row background color
tbody tr:nth-child(even){
  background-color: $off-white;
}

// add radious and margin bottom to form feilds
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
border-radius: 4px;
}

// add margin bottom to feildset
fieldset{
  margin-bottom: 20px;
}

// remove border on callout
.callout {
  border: none;
}
// alert callout style error
.callout.alert {
  background-color: $error;
  color: $white;
}

// alert callout style sucess
.callout.success {
  background-color: $success;
  color: $white;
}

// X closeout for alert box
button span {
color: $white;
  // X closeout for alert box hover
  &:hover {
    color: $light-grey;  
  }
}

// style error alert text
div.alert-box.alert{
  font-weight: bold;
  color: $error;
  font-size: 18;
  margin-bottom: 15px;
}

// style error alert text
small.error{
  font-weight: bold;
  font-style: italic;
  color: $error;
  display: block;
  margin-top: -12px;
  margin-bottom: 16px;
}

// add radius and padding to buttons
div.button, .button, .button:hover, .button:focus, ul.menu .button, ul.menu .button:hover, ul.menu .button:focus, .input-group:last-child .button{
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

// button style
div.button, .button {
  background-color: $white;
  color: $blue;
  font-weight: 400;
  border: solid;
  border-width: 1px;
  border-color: $blue;

  // button hover style
  &:hover, &:focus {
    color: white;
    background-color: $blue;
  }
}