@import 'bootstrap';

.hero {
  background: linear-gradient(135deg, #3023AE, #C86DD7);

  nav {
    h2 {
      @media (max-width: 567px) {
        font-size: 1.125rem;
      }
    }

    button span {
      font-size: 1.25rem;

      @media (max-width: 567px) {
        font-size: 1rem;
      }
    }
  }

  .hero-subcontainer {
    height:60vh; 
    min-height: 500px
  }
}

.container-fluid {
  max-width: 1280px;
}

.btn-success {
  background-color: #55af59 !important;
  border-color: #55af59 !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #408e44 !important;
  border-color: #408e44 !important;
}

.app-images {
  height: 400px;
  width: 100%;
}

#testimonials {
  background-color: rgb(22, 163, 74);

  .quote-image {
    width: 300px;
  }
}
