main {
  text-align: center;
}

main .scale {
  display: block;
  position:relative;
  margin: 0;
  padding: 0;
  font-size: 64px;
}

main .scale small {
  margin: 0;
  padding: 0 6px;
  font-size: 32px;
  color: grey;
}