// Place all the styles related to the transfers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_transfer {
  .links {
    margin-bottom: 20px;
  }
}

