<% content_for :title, "Organizations" %>

<h1>Organizations</h1>

<table id="organizations">
  <thead>
    <tr>
      <th>Organizations</th>
      <th>E-mail</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "organization_row", collection: @organizations %>
  </tbody>
</table>
