<% content_for :title, "Organizations - #{@current_organization.name}" %>

<h1><%= @current_organization.name %></h1>
<p><%= link_to @current_organization.email, "mailto:#{@current_organization.email}" %></p>
