<table class="table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Name</th>
      <th>Email</th>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.organization&.name %></td>
        <td><%= user.display_name %></td>
        <td><%= user.email %></td>
        <td class="text-right">
          <%= edit_button_to edit_admin_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
