<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Agency Distribution Information</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :distribution_times, label: "Distribution Times", class: "form-control", wrapper: :input_group %>
            <%= f.input :new_client_times, label: "New Client Times", class: "form-control", wrapper: :input_group %>
            <%= f.input :more_docs_required, label: "More Docs Required", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
