<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Area Served  (County / Client Share %) </strong></h3>
          </div>
          <div class="card-body" data-controller="area-served">
            <fieldset style="margin-bottom: 2rem">
              <legend></legend>
              <div id="served_areas" class="partner-served-area-fields partner-served-areas">
                <%= render 'served_areas/served_area_fields', form: f %>
              </div>
              <div class="partner-served_areas-total-row row">
                <div class="partners-served-areas-total-prompt col-w">Total is:</div>
                <span id="partners-served-areas-client-share-total" class="partners-served-areas-total-value col-2 numeric" data-area-served-target="total">
                  <%= @client_share_total %> %</span>
                <div id="partners-served-areas-client-share-total-warning" class="partners-served-areas-total-warning col-8" data-area-served-target="warning">
                  The total client share must be either 0 or 100 %.
                </div>
              </div>
              <div class="row links justify-content-end">
                <%= add_element_button "Add Another County", container_selector: "#served_areas", id: "__add_partner_served_area" do %>
                    <%= render 'served_areas/served_area_fields', form: f, object: Partners::ServedArea.new %>
                <% end %>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
