<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Media Information</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :website, label: "Website", class: "form-control", wrapper: :input_group %>
            <%= f.input :facebook, label: "Facebook", class: "form-control", wrapper: :input_group %>
            <%= f.input :twitter, label: "Twitter", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
