<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Organization Capacity</strong></h3>
          </div>
          <div class="card-body">
            <%= form.input :client_capacity, label: "Client Capacity", class: "form-control", wrapper: :input_group %>
            <%= form.input :storage_space, label: "Storage Space", as: :radio_buttons, class: "form-control",
                           wrapper: :input_group, wrapper_html: {class: "form-yesno"}, input_html: {class: "radio-yesno"} %>
            <%= form.input :describe_storage_space, label: "Storage Space Description", class: "form-control", wrapper: :input_group %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
