<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="bg-white card-header">
            <h3 class="card-title"><strong>Settings</strong></h3>
          </div>
          <div class="card-body">
            <% if f.object.organization.enable_child_based_requests? %>
              <%= f.input :enable_child_based_requests, label: "Enable Child-based Requests (unclick if you only do bulk requests)",
                             as: :boolean,
                             class: "form-control", wrapper: :input_group %>
            <% end %>

            <% if f.object.organization.enable_individual_requests? %>
              <%= f.input :enable_individual_requests, label: "Enable Requests for Individuals",
                             as: :boolean,
                             class: "form-control", wrapper: :input_group %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
