<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-white">
            <h3 class="card-title"><strong>Sources of Funding</strong></h3>
          </div>
          <div class="card-body">
            <%= f.input :sources_of_funding, label: "Sources Of Funding", class: "form-control", wrapper: :input_group %>
            <%= f.input :sources_of_diapers, label: "How do you currently obtain diapers?",
                           class: "form-control", wrapper: :input_group %>
            <%= f.input :essentials_budget, label: "Essentials Budget", class: "form-control", wrapper: :input_group %>
            <%= f.input :essentials_funding_source, label: "Essentials Funding Source", class: "form-control", wrapper: :input_group %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
