<% content_for :title, "#{current_organization.name} - Inventory - Adjustments - Edit" %>

<h1 class="medium-offset-3 medium-6">Editing Adjustment</h1>

<%= render 'form', adjustment: @adjustment %>

<div class="medium-offset-3 medium-6">
<%= link_to 'Show', @adjustment, class: "button" %>
<%= link_to 'Back', adjustments_path, class: "button" %>
</div>