<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <% content_for :title, "Reject Account Request" %>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<% if @account_request %>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card">
            <div class="card-body p-0">
              <table class="table" id="open-account-requests">
                <thead>
                <tr>
                  <th>Date Submitted</th>
                  <th>Organization Details</th>
                  <th>Request details</th>
                  <th>Request status</th>
                  <th>Contact Details</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <%= render partial: 'open_account_request', object: @account_request %>
              </table>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>

  <%= render partial: 'rejection_modal' %>
<% else %>
  <h1>Account Request not found!</h1>
<% end %>
