<section class="row">
<div class="nested-fields list-line-items">
  <div class='col-md-3 col-sm-3'>
    <%= render partial: "barcode_items/barcode_item_lookup", locals: {index: f.options[:child_index]} %>
    <div id="barcode-scanner-btn" class="fa fa-barcode barcode-scanner"> </div>
  </div>
  <div class="col-md-1 col-sm-1">
    <label>OR</label>
  </div>
  <div class="col-md-3 col-sm-3">
    <%= f.input :item_id, collection: @items, prompt: "Choose an item", include_blank: "", label: false %>
  </div>
  <div class='col-md-3 col-sm-3'>
    <%= f.input :quantity, placeholder: "Quantity", label: false, input_html: { class: "quantity" } %>
  </div>
  <div class='col-md-2 col-sm-2'>
    <%= delete_line_item_button f %>
  </div>
</div>
</section>
