<section class="nested-fields">
  <div class="row mt-2 d-flex flex-row align-items-center justify-content-between">
    <div class='d-flex flex-column justify-content-center'>
      <div class='d-flex flex-row align-items-center'>
        <%= render partial: "barcode_items/barcode_item_lookup", locals: {index: f.options[:child_index]} %>
        <div id="barcode-scanner-btn" class="fa fa-barcode barcode-scanner mx-2"> </div>
      </div>
      <label class='my-1 mx-auto font-weight-normal'>OR</label>
      <div class='d-flex flex-row'>
        <span class="li-name">
          <%= f.input :item_id, collection: @items, prompt: "Choose an item", include_blank: "", label: false, input_html: { class: "my-0", "data-controller": "select2" } %>
        </span>
        <div class="li-quantity mx-2">
          <%= f.input :quantity, placeholder: "Quantity", label: false, input_html: { class: "quantity my-0"} %>
        </div>
      </div>
    </div>

    <%= delete_line_item_button f %>
  </div>
  <hr class="line-item-separator">
</section>
