name: brakeman

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  brakeman:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1

      - name: run brakeman
        run: bundle exec brakeman
