<li class="nav-item dropdown">
  <a class="nav-link" data-bs-toggle="dropdown" href="#">
    <%= current_user.display_name %>
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    <%= link_to "Switch To: to be implemented", "#", class:"dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, class:"dropdown-item dropdown-footer", method: :delete do %>
    <i class="fa fa-sign-out mr-2"></i> Log Out
    <% end %>
  </div>
</li>