<div class="card">
  <div class="card-body text-center">
    <div class='card-text'>
      <h3> Are you ready to get started? </h3>

      <%= link_to "I'm ready! Let's go!", confirm_account_requests_path(token: @account_request.identity_token) %></li>
    </div>
  </div>
</div>
