<h1> Are you sure you that you want an account with us? </h1>

<span> Click Confirm To Proceed </span>
<%= link_to "Confirm", confirm_last_account_requests_path(token: @account_request.identity_token) %></li>
