<div class="card">
  <div class="card-body text-center">
    <div class='card-text'>
      <h3> Confirmed! </h3>
      <h4> We will be processing your request now. </h4>

      <p> We will send your invitation via email when we've processed your request. We will reach out to you also via email if we have any questions.</p>
    </div>
  </div>
</div>
