<div class="card">
  <div class="card-body text-center">
    <div class='card-text'>
      <h3> Sorry</h3>
      <p> The account request is either invalid, confirmed already, or processed already.</p>
    </div>
  </div>
</div>
