<div class="card">
  <div class="card-body text-center">
    <div class='card-text'>
      <h2> Request Received! </h2>
      <p> We've sent you a email with instructions on next steps at <strong><%= @account_request.email %></strong>! </p>
    </div>
    <p style="color: #ff0505;">Please check your spam filters for a email from <strong>no-reply@humanessentials.app</strong></p>
  </div>
</div>
