<h2>Contact Us!</h2>

<p>Hi! You found a sign up page, but we're limiting new accounts right now.
Please get in touch if you'd like to start using this application.</p>

<%= render "users/shared/links" %>
